<template>
  <div class="edit-file">
    
    <el-row class="top-row" type="flex" justify="space-between">
      <el-col :span="6">
        <div class="locale">
          <span class="locale-label">Target Locale: </span>
          <el-tooltip content="ISO 639-1 standard language code">
            <el-input placeholder="e.g. fr, en-US"
            :value="targetLocale"
            @input="updateTargetLocale($event)"></el-input>
          </el-tooltip>
        </div>
      </el-col>
      <el-col :span="12">
        <div v-if="currentDoc.name" class="xml-name">
          {{currentDoc.name}}
        </div>
      </el-col>
      
      <el-col :span="6">
        <div></div>
      </el-col>
    </el-row>

    <el-row type="flex" justify="center">
      <el-col>
        <div class="file" v-for="file in files" :key="file.attributes['original'].value">
          <span class="file-name">{{ file.attributes[0].value }}</span>
          <div class="trans-unit" v-for="unit in file.getElementsByTagName('trans-unit')" :key="unit.attributes['id'].value">
            <div class="unit-id">ID: {{ getUnitDetails(unit).id }}</div>
            <div class="source"><span class="source-label">Source Text: </span>{{ getUnitDetails(unit).source }}</div>
            <div class="target-label">Target Text:</div>
            <textarea rows="4" cols="50"
          placeholder="Please enter target text"
          class="target"
          :value="getUnitDetails(unit).target"
          @input="updateTargetValue(unit, $event)"></textarea>
          <div class="note" v-if="getUnitDetails(unit).note != ''">Note: {{ getUnitDetails(unit).note }}</div>
      </div>
      </div>
      </el-col>
    </el-row>
    
    
    
  </div>
</template>

<script>
import EventBus from "../event-bus.js";
export default {
  name: "EditFile",
  props: {
    currentDoc: Object
  },
  data() {
    return {
      loading: false
    };
  },
  computed: {
    files: function() {
      if (this.currentDoc.document != "") {
        return this.currentDoc.document.getElementsByTagName("file");
      } else {
        return [];
      }
    },
    targetLocale: function() {
      var locale = "";
      if (this.files.length > 0) {
        if (this.files[0].attributes["target-language"]) {
          locale = this.files[0].attributes["target-language"].value;
        }
      }
      return locale;
    }
  },
  watch: {
    currentDoc: {
      handler: function(newVal, oldVal) {
        if (newVal.name != oldVal.name) {
          console.log("editor noticed file change");
          // check and update target text field
        } else {
          console.log("editor noticed document change");
        }
        this.$forceUpdate();
      },
      deep: true
    }
  },
  methods: {
    getUnitDetails(unit) {
      if (unit) {
        var id = unit.attributes["id"].value;
        var source = "";
        var note = "";
        var target = "";

        for (var i = 0; i < unit.children.length; i++) {
          var child = unit.children[i];
          switch (child.localName) {
            case "source":
              source = child.innerHTML;
              break;
            case "note":
              note = child.innerHTML;
              break;
            case "target":
              target = child.innerHTML;
              break;
            default:
              break;
          }
        }
        return {
          id: id,
          source: source,
          note: note,
          target: target
        };
      }
    },
    getUnits(file) {
      var rawUnits = file.getElementsByTagName("trans-unit");
      var simpleUnits = [];
      for (var i = 0; i < rawUnits.length; i++) {
        var source = "";
        var target = "";
        var notes = "";
        for (var j = 0; j < rawUnits[i].children.length; j++) {
          switch (rawUnits[i].children[j].localName) {
            case "source":
              source = rawUnits[i].children[j].innerHTML;
              break;
            case "target":
              target = rawUnits[i].children[j].innerHTML;
              break;
            case "notes":
              notes = rawUnits[i].children[j].innerHTML;
            default:
              break;
          }
        }
        simpleUnits.push({
          id: rawUnits[i].attributes["id"].value,
          raw: rawUnits[i],
          source: source,
          target: target,
          notes: notes
        });
      }
      return simpleUnits;
    },
    log(data) {
      console.log(data);
    },
    updateTargetValue(element, value) {
      var found = false;
      console.log(value.target.value);
      for (var i = 0; i < element.children.length; i++) {
        var child = element.children[i];
        var found = false;
        if (child.localName === "target") {
          child.innerHTML = value.target.value;
          found = true;
        }
      }
      if (!found) {
        var targetNode = this.currentDoc.document.createElement("target");
        targetNode.innerHTML = value.target.value;
        console.log(targetNode);
        element.appendChild(targetNode);
      }

      EventBus.$emit("DOC_CHANGED");
    },
    updateTargetLocale(newLocale) {
      for (var i = 0; i < this.files.length; i++) {
        this.files[i].setAttribute("target-language", newLocale);
      }
      EventBus.$emit("DOC_CHANGED");
    }
  },
  created() {},
  beforeUpdate() {
    console.log("loading");
    this.loading = true;
  },
  updated() {
    this.loading = false;
    console.log("loaded");
    console.log(this.files);
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.el-row {
  margin-bottom: 20px;
  opacity: 0.9;
}
.el-row:last-child {
  margin-bottom: 0;
}
.el-col {
  border-radius: 4px;
  max-width: fit-content;
  min-width: fit-content;
}

.top-row > .el-col {
  min-width: 0%;
  max-width: 100%;
}

.locale-label {
  display: inline-block;
  float: left;
}

.xml-name {
  height: 100%;
  display: flex;
  flex: 1 0 0;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
}

.file {
  border: 2px solid #2c3e50;
  border-radius: 8px;
  margin-bottom: 25px;
  background-color: rgb(195, 213, 231);
  text-align: start;
}

.file-name {
  margin: 5px;
  padding-left: 5px;
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
}

.trans-unit {
  /* border: 1px solid grey; */
  border-radius: 4px;
  margin: 15px;
  padding: 15px;
  background-color: #e9eef3;
}

.trans-unit > * {
  padding-bottom: 5px;
}

.trans-unit > *:last-child {
  padding-bottom: 0;
}

.unit-id {
  font-weight: 200;
  font-size: 0.8em;
  margin-bottom: 5px;
  opacity: 0.7;
}

.target {
}

.source {
  font-weight: bold;
}

.source-label {
  font-weight: 400;
}

.note {
  padding-left: 5px;
  color: grey;
}
</style>

