<template>
<div class="file-actions">
  <div class="left-side">
    <ul>
      <li>
        <div class="action open">
          <label>
    <div>Open Local File</div>
      <input type="file" @change="loadFromFile"/>
    </label>
        </div>

      </li>
      <li>
        <div class="action recent">In-App Files</div>
        <ul class="recent-items">
          <li v-for="document in recentDocuments" :key="document.name">
            <div class="recent-item" v-if="document.name" @click="loadSelectedDocument(document)">
              {{ document.name }}
            </div>
          </li>
        </ul>
      </li>

    </ul>
  </div>
  <div class="middle">
    <slot name="title">
      <p>Page Title</p>
    </slot>
  </div>
  <div class="right-side">
    <ul>
      <li>
        <transition name="fade">
          <!-- <div v-if="fileLoaded" class="button save" @click="saveFile">Save File</div> -->
          <div class="action save" @click="downloadFile">Save As Local File</div>
        </transition>
      </li>
    </ul>
  </div>
</div>
</template>

<script>
import EventBus from "@/event-bus";
import XliffReaderWriter from "../services/XliffReaderWriter";
export default {
  name: "FileManager",
  props: {
    currentDocument: {
      type: Object
    }
  },
  data() {
    return {
      // document: {
      //   name: "File1",
      //   timestamp: 123456,
      //   document: "<html></html>"
      // }
      recentDocuments: {}
    };
  },
  watch: {
    currentDocument: {
      handler: function(newVal, oldVal) {
        console.log("Something changed!!!");
        this.saveToRecent();
      },
      deep: true
    }
  },
  methods: {
    saveToRecent() {
      // if name matches then update, otherwise creates a new object
      console.log("save to recent");
      console.log(this.currentDocument);
      console.log(this.recentDocuments);

      // serialize the xml document (as JSON.stringify can't)
      var serializedDoc = {
        name: this.currentDocument.name,
        timestamp: this.currentDocument.timestamp,
        document: XliffReaderWriter.xml2String(this.currentDocument.document)
      };
      console.log(serializedDoc);

      this.recentDocuments[this.currentDocument.name] = serializedDoc;
      console.log(this.recentDocuments);
      localStorage.setItem("documents", JSON.stringify(this.recentDocuments));
    },
    clearRecent() {
      this.recentDocuments = {};
      localStorage.setItem("documents", JSON.stringify(this.recentDocuments));
      console.log("Cleared recent files");
    },
    loadSelectedDocument(doc) {
      this.$emit("file-loaded", doc);
      console.log("emitted: file-loaded");
      console.log(doc);
    },
    loadFromFile(e) {
      this.selectedFile = e.target.files[0];
      this.loaded = "loading";
      var loadedDoc = "";
      XliffReaderWriter.readXMLFile(this.selectedFile).then(response => {
        this.xmlDoc = response;
        loadedDoc = {
          name: this.selectedFile.name,
          timestamp: Date.now(),
          document: this.xmlDoc
        };
        this.loadSelectedDocument(loadedDoc);
        // this.$emit("file-loaded", this.selectedFile.name, this.xmlDoc);
      });
    },
    // requestDownload() {
    //   EventBus.$emit("DOWNLOAD_REQUESTED");
    // },
    downloadFile() {
      // this.saveToRecent();
      console.log("downloadFile");
      console.log(this.currentDocument);

      var newFileName = "";
      this.$prompt(
        "Please pick a filename.<br><i>This will not overwrite the original file.</i>",
        "Enter Filename",
        {
          confirmButtonText: "OK",
          cancelButtonText: "Cancel",
          inputValue: this.currentDocument.name,
          dangerouslyUseHTMLString: true
        }
      ).then(result => {
        newFileName = result.value;
        XliffReaderWriter.writeToXMLFile(
          this.currentDocument.document,
          newFileName
        );
        delete this.recentDocuments[this.currentDocument.name];
        console.log("deleted file");
        var emptyDoc = {
          name: "",
          timestamp: "",
          document: ""
        };
        localStorage.setItem("documents", JSON.stringify(this.recentDocuments));
        EventBus.$emit("FILE_CHANGED", emptyDoc);
      });
    }
  },
  created() {
    if (localStorage.getItem("documents")) {
      this.recentDocuments = JSON.parse(localStorage.getItem("documents"));
      console.log(
        "documents found in local storage: " +
          Object.keys(this.recentDocuments).length
      );
      console.log(this.recentDocuments);
    }
  },
  mounted() {
    EventBus.$on("DOC_CHANGED", () => {
      this.saveToRecent();
    });
  }
};
</script>

<style scoped>
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

.file-actions {
  width: 100%;
  display: flex;
  height: 100%;
  /* justify-content: space-between; */
}

.file-actions > * {
  flex: 1 0 0;
}

.left-side > ul,
.right-side > ul {
  display: flex;
  height: 100%;
}

.right-side > ul {
  justify-content: flex-end;
}

.left-side label {
  display: flex;
  align-items: center;
  height: 100%;
}

.middle {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul,
li,
p {
  margin: 0;
  /* height: 100%; */
}

.file-actions > li {
  flex: 1 0 0;
}

.action {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: default;
  user-select: none;
  transition: all 0.3s ease;
}

.action:hover,
.recent-item:hover {
  background-color: #759ac0;
  color: #fff;
}

.action:active,
.recent-item:active {
  background-color: #55789c;
  user-select: none;
  color: #fff;
}

input[type="file"] {
  display: none;
}

ul li ul {
  background: #2c3e50;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  display: flex;
  flex-direction: column;
}

.recent-item {
  cursor: default;
  padding: 0.4em 10px;
  z-index: 99999;
  background: #2c3e50;
  color: #fff;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
