<template>
  <div class="main">
    <el-container>
      <el-header> 
          <!-- <el-button v-if="xmlDoc" @click="xmlDoc = ''">Translate New File</el-button> -->
          <file-manager :currentDocument="currentDocument"
                        @file-loaded="fileLoaded">
                        <p slot="title">Xliff Translation Tool</p> 
          </file-manager>
        
        
      </el-header>
      <el-main>
        <el-row type="flex" justify="center">
          <el-col :span="24" >
            <edit-file v-show="currentDocument.name != ''" :currentDoc="currentDocument"></edit-file>
            <div v-if="currentDocument.name == ''" class="no-file">No File</div>
          </el-col>
        </el-row>
        
      </el-main>
    </el-container>
    
  </div>
</template>

<script>
// import UploadFile from "./UploadFile";
import EventBus from "@/event-bus";
import EditFile from "./EditFile";
import FileManager from "./FileManager";
import XliffReaderWriter from "@/services/XliffReaderWriter.js";
export default {
  name: "MainPage",
  components: {
    EditFile,
    FileManager
  },
  data() {
    return {
      currentDocument: {
        name: "",
        timestamp: "",
        document: ""
      },
      loading: false
    };
  },
  methods: {
    fileLoaded(doc) {
      console.log("fileLoaded");
      this.loading = true;
      console.log("main - loading");
      this.$nextTick(() => {
        if (typeof doc.document == "string") {
          doc.document = XliffReaderWriter.string2Xml(doc.document);
        }
        this.currentDocument = doc;
      });
    }
  },
  mounted() {
    EventBus.$on("FILE_CHANGED", doc => {
      this.currentDocument = doc;
    });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main {
  height: 100%;
  width: 100%;
}
.el-header,
.el-footer {
  background-color: #2c3e50;
  color: rgb(241, 241, 241);
  text-align: center;
  padding: 0;
}

.el-main {
  background-color: rgb(243, 243, 243);
  color: #333;
  text-align: center;
  height: 100%;
  width: 100%;
}

.no-file {
  font-size: 1.8em;
  margin: 10px 0;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
